@import "./components/ProgressBar.scss";
@import "./components/Form.scss";

@import "./variables.scss";

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  font-family: $primary-font-family;
  
  .container {
    // height: 70vh;
    // width: 70vw;
    // max-height: 39rem;
    height: 39rem;
    border-radius: 0.75rem;
  
    display: grid;
    grid-template-columns: 1.25fr 3fr;

    padding: 1rem;

    background: $neutral-white;
  }

  input {
    font-family: $primary-font-family;
  }

  @media screen and (max-width: $breakpoint-tablet-lg) {
    display: flex;
    padding: 0;

    height: 100vh;

    .container {
      grid-template-columns: 1fr;
      grid-template-rows: 12rem 1fr;
      padding: 0;
      border-radius: 0;

      height: 100%;
      width: 100%;

      background: $neutral-magnolia;

    }
    
  }

  @media screen and (max-width: $breakpoint-mobile-sm) {
    input {
      font-size: .75em;
      padding: .75rem;
    }
  }
}