@import "./variables.scss";

@import "./components/ProgressBar.scss";
@import "./components/Form.scss";

// @import "./components/form_components/UserInfo.scss";
// @import "./components/form_components/SelectPlan.scss";
// @import "./components/form_components/Addons.scss";
// @import "./components/form_components/Summary.scss";
// @import "./components/form_components/ThankYou.scss";


#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  font-family: $primary-font-family;

  .container {
    overflow: scroll;
    height: 39rem;
    border-radius: 0.75rem;

    display: grid;
    grid-template-columns: 1.25fr 3fr;

    padding: 1rem;

    background: $neutral-white;
  }

  input {
    font-family: $primary-font-family;
  }

  @media screen and (max-width: $breakpoint-tablet-lg) {
    display: flex;
    padding: 0;

    height: 100vh;

    .container {
      grid-template-columns: 1fr;
      grid-template-rows: 12rem 1fr;
      padding: 0;
      border-radius: 0;

      height: 100%;
      width: 100%;

      background: $neutral-magnolia;
    }
  }

  @media screen and (min-width: $breakpoint-desktop-sm) {
    .container {
      width: 800px;
    }
  }

  @media screen and (min-width: $breakpoint-desktop-md) {
    .container {
      width: 900px;
    }
  }

  @media screen and (min-width: $breakpoint-desktop-lg) {
    .container {
      width: 1024px;
    }
  }
}

@media screen and (min-width: $breakpoint-tablet-lg) {
  #root { 
    .container {
      overflow: unset;
    }
  }
}