@import "../../variables.scss";

.form_container {

  &__select {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    height: 100%;

    &__options {
      display: flex;
      gap: 1rem;

      &__card {
        background: transparent;
        border: 1px solid $neutral-light_gray;
        border-radius: 8px;
        padding: 1.2rem;
        color: $primary-marine_blue;
        width: 33%;
        cursor: pointer;
        z-index: 2;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &__icon {
          display: flex;
          z-index: 1;
        }

        &__text {
          z-index: 1;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 0.3rem;

          &__title {
            font-weight: 700;
            font-size: $font-size-500-mobile;
          }

          &__price {
            color: $neutral-cool_gray;
            font-size: $font-size-400-mobile;
          }

          &__period {
            font-size: $font-size-400-mobile;
            font-weight: 500;
            
            &.hide {
              display: none;
            }
          }
        }

        &.selected {
          border: 1px solid $primary-purplish_blue;
          background: $neutral-alabaster;
        }
      }

      @media screen and (min-width: $breakpoint-tablet-lg) {
        &__card {
          height: 165px;
        }
      }

      @media screen and (max-width: $breakpoint-tablet-lg) {
        &__card {
          flex-direction: row;
          justify-content: flex-start;
          gap: 1rem;
        }
      }

      @media screen and (max-width: $breakpoint-tablet-lg) {
        flex-direction: column;

        &__card {
          width: auto;
        }
      }
    }

    &__period {
      display: flex;
      justify-content: center;

      padding: 1rem;
      background: $neutral-alabaster;
      border: 1px solid $neutral-alabaster;
      border-radius: 5px;

      &__switch {
        color: $neutral-cool_gray;
        font-weight: 700;

        &.selected {
          color: $primary-marine_blue;
        }
      }

      &__toggle-view {
        margin-inline: 1.5rem;

        display: flex;

        input[type="checkbox"] {
          height: 0;
          width: 0;
          visibility: hidden;
        }

        label {
          cursor: pointer;
          text-indent: -9999px;
          width: 3rem;
          height: 1.5rem;
          background: $primary-marine_blue;
          display: block;
          border-radius: 100px;
          position: relative;
        }

        label:after {
          content: "";
          position: absolute;
          top: 5px;
          left: 5px;
          width: 0.9rem;
          height: 0.9rem;
          background: #fff;
          border-radius: 25px;
          transition: 0.3s;
        }

        input:checked + label:after {
          left: calc(100% - 5px);
          transform: translateX(-100%);
        }
      }
    }
  }
}

@media screen and (min-width: $breakpoint-tablet-lg) {
  .form_container {
  
    &__select {  
      &__options {  
        &__card {
          &__text {
  
            &__title {
              font-size: $font-size-500-desktop;
            }
  
            &__price {
              font-size: $font-size-400-desktop;
            }
          }
        }
      }
    }
  }
}
