@import "../../variables.scss";

.form_container {

    &__thank-you {
        height: 100%;
        padding: 2rem 0;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        svg {
            transform: scale(.75);
        }

        h1 {
            font-size: $font-size-header-mobile;
            font-weight: 700;
            color: $form-font-primary-color;
        }

        p {
            font-size: $font-size-500-mobile;
            color: $form-font-secondary-color;
            line-height: 1.6em;
            margin: 0;
        }
    }

    &__restart-btn {
        display: none;
        opacity: 0;

        &.show {
            display: block;
            opacity: 1;
        }

        .restart {
            float: right;

            @media screen and (min-width: $breakpoint-tablet-lg) {
                margin-bottom: 1rem;
            }
        }
    }
}

@media screen and (min-width: $breakpoint-tablet-lg) {
    .form_container {
        &__thank-you {
            padding: unset;

            svg {
                transform: unset;
            }

            h1 {
                font-size: $font-size-header-desktop;
            }
    
            p {
                font-size: $font-size-500-desktop;
            }
        }
    }  
}